.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #FA6F57;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.button-request {
    text-align: center;
    width: 100%;
    margin: 10px auto 0;
}

.recommend-question {
    text-align: center;
    width: 80%;
    margin: 10px auto 0;
}

#recommend-question{
    white-space: normal;
}


.random-question-button{
    margin-top: 20px;
    white-space: normal;
}

input[type=email], input[type=password] {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.width-90{
    width: 90%;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 10px;
}

.image{
    margin-top: 60px;
}

.text-input {
    margin-left: 10px;
}

#footer{
    height: 20%;
    background-color: #76B8A6;
    /*background-color: #E6E3B2;*/
    /*background-color: #2B2B2B;*/
}

.content-body {
    min-height: 100%;
    /*background-color: #bdc3c7;*/
}

.background{
    /*background-color: #3498db;*/
    /*background-color: #404040;*/
    /*background-color: #76B8A6;*/
    background-color: #E6E3B2;
}

.content{
    /*font-family: "Museo Slab";*/
    font-family: "monospace";
    /*color: #F6F6E8;*/
    /*color: #100F0E;*/
    color: #100F0E;
}

.your-question{
    margin-top: 10px;
}

#recommend-question{
    background: #D43F3F;
}

.right-content{
    text-align: right;
}

ul
{
    list-style-type: none;
}


li:before {
    content: '\f00c'; /* FontAwesome char code inside the '' */
    font-family: FontAwesome; /* FontAwesome or whatever */
    display: inline-block;
    width: 1.5em; /* same as padding-left set on li */
    margin-left: -1.2em; /* same as padding-left set on li */
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #100F0E;
}

/*center vertical*/
.show-answer {display: table; height: 70%; position:absolute; overflow: hidden;width:100%;}
.answer-box {#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;}
.content-answer {#position: relative; #top: -50%;margin:0 auto;width:90%;max-height: 80%}

/*center vertical*/
.page-inner {display: table; height: 100%; position:absolute; overflow: hidden;width:100%;}
.random-question-box {#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;}
.random-question {#position: relative; #top: -50%;margin:0 auto;width:90%;}

/* footer spinner*/
.spinner-bottom {
    width: 40px;
    height: 40px;
    margin: 20px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 100% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
          opacity: 0;
      }
}